html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg,blue,aqua,purple,green);
    display: flex;
    font-family: 'Dosis',sans-serif;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur();
    background: rgba(rgb(79, 56, 56), rgb(0, 0, 0), blue, alpha);
    border: 1px solid rgba(rgb(132, 61, 61), rgb(37, 113, 37), blue, alpha);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(red, green, blue, alpha);
    color: aquamarine;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(rgb(113, 31, 31), rgb(15, 56, 15), rgb(28, 28, 56), alpha);
    border: 1px solid rgba(rgb(68, 51, 146), green, rgb(31, 31, 76), alpha);
    flex-basis: 440px;
    height: 540px;
    padding: 20px 350x;
}

.screen{
    backdrop-filter: blur(55.5px);
    -webkit-backdrop-filter: blur;
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(rgb(113, 31, 31), rgb(15, 56, 15), rgb(28, 28, 56), alpha);
    border-radius: 16px;
    box-shadow:  0 4px  30px rgba(35,35,35,0.1);
    color: rgb(24, 24, 16);
    font-size: 30px;
    overflow: auto;
    padding: 20ox;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,225,225,0.75);
    border: 1px solid rgba(225,225,225,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: rgb(27, 36, 33);
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child{
    backdrop-filter: blur;
    -webkit-backdrop-filter: blur(5.5px);
    background: #a64f8d;
    border: 1px solid rgba(225,225,225,0.1);
    border-radius: 16px;
    box-shadow: - 4px 30px rgba(35,35,35,0.1);
    color: #fff;
    background: #a64f8d;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: #fff;
}


.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 75%;
}

