*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60ox;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border{
    border: px solid transparent;
}

.border:hover{
    border: 2px solid white;
}


/*box 2 deliver to styling */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-first:hover{
    color: rgb(101, 187, 211);
}

.add-sec:hover{
    color: aquamarine;
}

.add-second{
    font-size: 1rem;
}

#i-map:hover{
    color: #a90707;
}

.add-icon{
    display: flex;
}


/* box 3  searcbar*/
.nav-search{
    display: flex;
    background-color: rgba(130, 216, 61, 0.812);
    color: rgb(255, 255, 255);
    width: 600px;
    height: 40px;
    margin-left: 15px;
    border-radius: 3px ;
}

.nav-search:hover{
    border: 2px solid rgba(221, 163, 97, 0.915);
}

.nav-select{
    background-color: rgb(233, 239, 242);
    width: 50px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-input{
    width: 500px;
    font-size: 1rem;

}

.search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

/* box-3 sign in */
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.7rem;
}


/* panel section*/
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.86rem;
}


/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 600px;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero-boxes */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-evenly;
    background-color: #e2e2e2;
}

.box{
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}


/* footer */
footer{
    margin-top: 15px        ;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 300px;
}


ul{
    margin-top: 30px;
}

ul a{
    display: block;
    font-size: 0.5rem;
    margin-top: 10px;
    color: #dddddddd;
}









